<div class="home-news-content py-4 px-2 py-sm-5 px-sm-0 mt-ncs mb-4">
    <ngb-carousel class="home-news-carousel" [showNavigationArrows]="false" [showNavigationIndicators]="false"
        [interval]="5000">
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper h-100">
                <img src="assets/otcloud/images/banner-artic-noticia.jpg" alt="First slide" class="d-block w-100 h-100">
            </div>
        </ng-template>
        <ng-template ngbSlide>
            <div class="picsum-img-wrapper h-100">
                <img src="assets/otcloud/images/bg-image.webp" alt="Second slide" class="d-block w-100 h-100">
            </div>
        </ng-template>
    </ngb-carousel>
    <div class="container">
        <div class="my-5">
            <div>
                <h3 class="display-10">Repositorio de UNAPEC</h3>
                <div class="max-width-700 bg-light p-2 align-items-center my-3">
                    <ds-search-form [inPlaceSearch]="false" [showScopeSelector]="true"
                        [searchPlaceholder]="'home.search-form.placeholder' | translate">
                    </ds-search-form>
                </div>
            </div>
        </div>
    </div>
</div>