<div class="homepage-sidebar">
    <div class="browse my-2">
        <h5 class="text-end">Browse</h5>
        <nav class="nav flex-column text-end">
            <a class="nav-link active" href="/id/frc0001/1">Collections</a>
            <a class="nav-link" href="/browse/title">Titles</a>
            <a class="nav-link" href="/browse/coverage">Coverage</a>
            <a class="nav-link" href="/browse/subject">Subjects</a>
            <a class="nav-link" href="/browse/dateissued">Issue Dates</a>
            <a class="nav-link" href="/browse/dateaccessioned">Submission Dates</a>
        </nav>
    </div>
    <div class="my-account">
        <h5 class="text-end">My Account</h5>
        <nav class="nav flex-column text-end">
            <a class="nav-link" href="/login">Login</a>
            <a class="nav-link" href="/register">Register</a>
        </nav>
    </div>
</div>