<div class="container">
  <h1>{{ 'info.end-user-agreement.head' | translate }}</h1>
  <p><em>{{ 'info.end-user-agreement.lastupdated' | translate }}</em></p>
  <p>{{ 'info.end-user-agreement.content' | translate }}</p>


  <form class="form-user-agreement-accept mt-4" (ngSubmit)="submit()" novalidate>
    <input class="ms-1 me-2" type="checkbox" id="user-agreement-accept" [(ngModel)]="accepted" [ngModelOptions]="{standalone: true}">
    <label class="col-form-label-lg" for="user-agreement-accept">{{ 'info.end-user-agreement.accept' | translate }}</label>

    <div class="d-flex mt-4">
      <button id="button-cancel" type="button" (click)="cancel()" class="btn btn-outline-secondary me-auto">{{ 'info.end-user-agreement.buttonsCancel' | translate }}</button>
      <button id="button-save" type="submit" class="btn btn-primary" [dsBtnDisabled]="!accepted">{{ 'info.end-user-agreement.buttonsSave' | translate }}</button>
    </div>
  </form>
</div>
